:root {
}

body {
  font-family: "Roboto", "sans-serif"
  color: #434455
  background-color: #FFFFFF
}
  
a {
  text-decoration: none;
} 

li {
  list-style-type: none;
}

.advantages-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.advantages-text {
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
}

/* TOP LINE */

.list-studio {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.list {
  list-style: none;
}

.adress-list-mail {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
