:root {
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.link {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.advantages-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.advantages-text {
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
}

/* TOP LINE */

.list-studio {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.list {
  list-style: none;
}

.adress-list-mail {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* HERO IMAGE (SECTION 1 */

.hero-image {
  height: 600px;
  background: #2e2f42;
}

.hero-image-text {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

/* BUTTON */

.hero-button {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;

  height: 56px;
  width: 169px;
  border-radius: 4px;
  font-size: 16px;
}

.filter-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  columns: #4d5ae5;
  background-color: #f4f4fd;
  cursor: pointer;
}

button:hover > .filter-button {
  color: #ffffff;
  background-color: #404bbf;
}

button:focus > .filter-button {
  color: #ffffff;
  background-color: #404bbf;
}

button:hover {
  background-color: #404bbf;
}

button:focus {
  background-color: #404bbf;
}

/* TEAM */

.team {
  height: 732px;
  background-color: #f4f4fd;
}

.team-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.team-card {
  width: 264px;
  height: 380px;
  background-color: #ffffff;
}

/* WHAT ARE WE DOING (SECTION 3) */

.we-doing-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}

/* FOOTER */
.footer {
  height: 312px;
  background-color: #2e2f42;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.studio-white {
  color: #f4f4fd;
}

.studio-black {
  color: #2e2f42;
}

/* PORTFOLIO */
