li {
  display: block;
}

/* TOP LINE */

.top-line {
  position: absolute;
  width: 1440px;
  height: 72px;
  left: 0px;
  top: 0px;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;

  position: absolute;
  width: 115px;
  height: 24px;
  left: 156px;
  top: 24px;
}

.menu-nav {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 40px;

  position: absolute;
  width: 261px;
  height: 24px;
  left: 347px;
  top: 24px;
}

.mail {
  position: absolute;
  width: 153px;
  height: 24px;
  left: 940px;
  top: 24px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  letter-spacing: 0.02em;

  color: #434455;
}

.phone {
  position: absolute;
  width: 151px;
  height: 24px;
  left: 1133px;
  top: 24px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  letter-spacing: 0.02em;

  color: #434455;
}

/* HERO IMAGES */

.h-img {
  width: 1440px;
  height: 600px;
  left: 0px;
  top: 72px;

  margin-top: 72px;

  background: #2e2f42;
}

.header-text {
  position: absolute;
  width: 496px;
  height: 120px;
  left: 472px;
  top: 260px;

  /* Header 1 */

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.h-button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px 32px;
  gap: 10px;

  position: absolute;
  width: 169px;
  height: 56px;
  left: 636px;
  top: 428px;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/* SECTION 1 */

.s1-p1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;

  position: absolute;
  width: 264px;
  height: 104px;
  left: 156px;
  top: 792px;
}

.s1-p2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;

  position: absolute;
  width: 264px;
  height: 104px;
  left: 444px;
  top: 792px;
}

.s1-p3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;

  position: absolute;
  width: 264px;
  height: 104px;
  left: 732px;
  top: 792px;
}

.s1-p4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;

  position: absolute;
  width: 264px;
  height: 104px;
  left: 1020px;
  top: 792px;
}
/* SECTION 2 */

.s2-tx {
  position: absolute;
  width: 323px;
  height: 40px;
  left: 559px;
  top: 1016px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;

  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  color: #2e2f42;
}

.s2-im1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  position: absolute;
  width: 360px;
  height: 300px;
  left: 156px;
  top: 1128px;
}

.s2-im2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  position: absolute;
  width: 360px;
  height: 300px;
  left: 540px;
  top: 1128px;
}

.s2-im3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  position: absolute;
  width: 360px;
  height: 300px;
  left: 924px;
  top: 1128px;
}
/* SECTION 3 */

.s3-tx {
  position: absolute;
  width: 162px;
  height: 40px;
  left: 639px;
  top: 1668px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;

  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  color: #2e2f42;
}

.team-card-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 0px 32px;
  gap: 32px;

  position: absolute;
  width: 264px;
  height: 380px;
  left: 156px;
  top: 1780px;

  background: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.team-card-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 0px 32px;
  gap: 32px;

  position: absolute;
  width: 264px;
  height: 380px;
  left: 444px;
  top: 1780px;

  background: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.team-card-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 0px 32px;
  gap: 32px;

  position: absolute;
  width: 264px;
  height: 380px;
  left: 732px;
  top: 1780px;

  background: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.team-card-4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 0px 32px;
  gap: 32px;

  position: absolute;
  width: 264px;
  height: 380px;
  left: 1020px;
  top: 1780px;

  background: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

/* FOOTER */

.footer {
  position: absolute;
  width: 1440px;
  height: 312px;
  left: 0px;
  top: 2280px;

  /* NAVY BLUE */

  background: #2e2f42;
}

.f-tx {
  position: absolute;
  width: 264px;
  height: 112px;
  left: 156px;
  top: 2380px;
}
